<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PushBotsServiceSettings" type="PushBots.NET.PushBotsServiceConfiguration, PushBots.NET" />
  </configSections>
  <PushBotsServiceSettings 
    apiUrl="https://api.pushbots.com/" 
    singlePushApiPath="push/one" 
    batchPushApiPath="push/all" />
</configuration>